.navbar-custom {
  transition: background-color 0.5s ease;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
  
.navbar-custom.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    color: white !important;
}

.rounded-button {
  border-radius: 50px;
  width: 8%;
}
